* {
  box-sizing: border-box;
}

.home-card {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20%;
  padding-bottom: 20%;
  padding-right: 10%;
  padding-left: 10%;

  @media screen and (min-width: 768px) {
    height: 100vh;
  }
}

.home-card__container {
  flex-direction: row;
  margin-right: 10%;
  margin-left: 10%;
  display: flex;
  flex: 1;

  // height: 100%;
  @media screen and (max-width: 768px) {
    display: block;
    min-height: 400px;
  }
}

.home-card__img-container {
  flex: 2;
}

.home-card__img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.home-card__banner-container {
  flex-direction: row;
  width: 100%;
  padding-top: 5%;
  background-image: url(../assets/images/landing_page_banner.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.home-card__logo {
  height: 10%;
  object-fit: contain;
  width: 10%;
  margin-left: 5%;
}

.home-card__bg--1 {
  background-color: #aad2f7;
  // background-color: $blue1;
  // color: white;
}

.home-card__bg--2 {
  background-color: #fff;
}

.home-card__bg--3 {
  background-color: #efefef;
}

.home-card__navbar {
  flex-direction: row;
  width: 100%;
  max-height: 50px;
}

.home-card__content {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
  justify-content: center;
  align-content: center;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.home-card__title {
  display: flex;
  font-size: $title-size;
  font-family: $title-font;
  font-weight: $title-weight;
  color: #333;
  margin-bottom: 20px;
}

.home-card__text {
  color: #7e7e7e;
  overflow: hidden;
  line-height: 220%;
  font-size: $text-size;
  font-family: $body-font;
  font-weight: $text-weight;
  word-wrap: break-word;
}

li {
  list-style-type: disc;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
}