@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway&display=swap');

// fonts
$body-font: 'Raleway', sans-serif;
$nav-font: 'Montserrat', sans-serif;
$title-font: 'Open Sans', sans-serif;

$header-size: 48px;
$title-size: 35px;
$subtitle-size: 28px;
$text-size: 16px;

// colors
$uva-orange: #E57200;
$uva-blue: #222C4A;

$gray: #333;

$blue1: #7CACCC;
$blue2: #5190BA;
$blue3: #2574A9;
$blue4: #1C577F;
$blue5: #133A55;
$blue6: #091D2A;