@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
// fonts
$body-font: 'Roboto Slab',
serif;
$nav-font: 'Roboto Slab',
serif;
$title-font: 'Roboto Slab',
serif;

$header-size: 50px;
$title-size: 35px;
$subtitle-size: 28px;
$text-size: 16px;


$header-weight:500;
$title-weight: 400;
$subtitle-weight: 300;
$text-weight:300;

// colors
$uva-orange: #E57200;
$uva-blue: #222C4A;

$gray: #333;

$blue1: #7CACCC;
$blue2: #5190BA;
$blue3: #2574A9;
$blue4: #1C577F;
$blue5: #133A55;
$blue6: #091D2A;