* {
  box-sizing: border-box;
}

.nav-bar {
  font-family: 'Open Sans';
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-between;

}
.nav-bar__container{
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  font-size: 130%;
  width: 40%;
  color: white;
  display: flex;
  align-items: center;
  height:max-content;
  justify-content: center;
  font-family: 'Open Sans';
}

.nav-bar__container:hover{
  cursor: pointer;
}