* {
  box-sizing: border-box;
}

.contact-card {
  height: 100%;
  display: flex;
  min-height: 200px;
  background-color: #62a9d9;
  flex-direction: row;
  padding: 5% 10% 5% 10%;
  align-items: center;
}

.contact-card__title{
  height: 100%;
  display: flex;
  font-size: $header-size;
  font-family: $title-font;
  color: white;
  margin-bottom: 7%;
}

.contact-card__img-container {
  height: 50%;
  object-fit: contain;
  width: 50%;
}

.contact-card__icon {
  height: 13%;
  object-fit: contain;
  width: 13%;
  padding: 2%;
  padding-right: 3%;
  border-right: 2px solid white;
}


.contact-card__info-text {
  color: white;
  margin-left: 3%;
  font-size: $text-size;
  font-family: $title-font;

}
.contact-card__content {
  display: flex;
  flex-direction: column;
  width:50%;
  align-self: center;
  height: 100%;
  // margin-left: 5%;
}

.contact-card__info {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  flex: 2;
  height: 100%;
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 2%;
}
